{% extends "layout.tmpl" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
<link href="/static/main.css" rel="stylesheet">
<link href="/static/responsive.css" rel="stylesheet">
<script src='/static/main.js' type="text/babel"></script>
<div class='menu-container'>
    <div class='menu'>
        <div class='left-title'>work-notes-do</div>
        <div class='right-title'>
        </div>
    </div>
</div>

<div id="root"></div>

<div class='footer-container'>
    <div class='footer'>
    </div>
</div>

{% endblock %}
